@page  "/eusers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class="card-title">Create New Euser</h3>
<hr />
<br />

<EditForm Model="@euser" OnValidSubmit="CreateEuser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@euser.Name" class="form-control" />
            <ValidationMessage For="@(() => euser.Name)" />
        </div>
        <label>Age:</label>
        <div>
            <InputNumber @bind-Value="@euser.Age" class="form-control" />
            <ValidationMessage For="@(() => euser.Age)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        Create Euser
    </button>
</EditForm>

@code { Euser euser = new Euser();
            private async Task CreateEuser()
            {
                await _client.PostAsJsonAsync(Endpoints.EusersEndpoint, euser);
                _navManager.NavigateTo("/eusers/");
            } }